<ul id="prod-list">
    {{#each data.products}}
        <li>{{this._id}} - {{this.title}}</li>
    {{/each}}
</ul>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/cart.js"></script>