{{!-- <!--navBar-->
        <div class="nav-container">
            <nav class="navbar">
              <div class="navbar-logo">
                <!--abajo el logo-->
              </div>
              <a href="/home">Home</a>
              <a href="/chat">Chat</a>
              <a href="/register">Register</a>
            </nav>
          </div> --}}
{{>menu}}
{{!-- <div class="contenedor-formularios">
  <h2 class="title-login">Login</h2>
  <form action="/api/sessions/" method="post">

      {{#if error}}
          <div style="color: red;">{{error}}</div>
      {{/if}}

      {{#if mensaje}}
          <div style="color: green;">{{mensaje}}</div>
      {{/if}}
      
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <br>
      <input type="submit" value="Ingresar">
  </form>
</div> --}}


 <div id="contenedor">
      <div id="central">
          <div id="login">
              <div class="titulo">
                  Bienvenido
              </div>
              <form action="/api/sessions/" method="post">

                  {{#if error}}
                      <div style="color: red;">{{error}}</div>
                  {{/if}}

                  {{#if mensaje}}
                      <div style="color: green;">{{mensaje}}</div>
                  {{/if}}
                  
                  <input type="email" name="email" class="email" placeholder="email">
                  <input type="password" name="password"  class="pass" placeholder="password">
                  <br>
                  <input type="submit" class="my-button" value="Ingresar">
                  
              </form>
              <div class="pie-form">
                  <a href="/api/sessions/github"><img alt="Acceso GitHub" src="img/github icon.png" width="40" height="40" /></a>
                  <a href="/register">¿No tienes Cuenta? Registrate</a>
              </div>
          </div>
        
      </div>
  </div>




   <script src="js/jquery.js"></script>
   <script src="js/main.js"></script>

