 {{!-- <!--navBar-->
        <div class="nav-container">
            <nav class="navbar">
              <div class="navbar-logo">
                <!--abajo el logo-->
              </div>
              <a href="/home">Home</a>
              <a href="/chat">Chat</a>
              <a href="/">Login</a>
            </nav>
          </div> --}}

{{>menu}}

{{!-- <div class="contenedor-formularios">
  <h2>Registro usuarios:</h2>
  <hr>
  <form action="/api/sessions/register" method="post">

      {{#if error}}
          <div style="color: red;">{{error}}</div>
      {{/if}}

      <input type="text" name="name" placeholder="name">
      <input type="email" name="email" placeholder="email">
      <input type="password" name="password" placeholder="password">
      <br>
      <input type="submit" value="Registrar">
  </form>
</div> --}}



<div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Register
            </div>
            <form action="/api/sessions/register" method="post">

                {{#if error}}
                    <div style="color: red;">{{error}}</div>
                {{/if}}

                <input type="text" name="first_name" class="name" placeholder="first_name">
                <input type="text" name="last_name" class="name" placeholder="last_name">
                <input type="email" name="email"  class="email" placeholder="email">
                <input type="number" name="age" class="name" placeholder="age">
                <input type="password" name="password" class="pass" placeholder="password">


                <div class="custom-select">
                    <select name=""role>
                        <option value="">select a role...</option>
                        <option>user</option>
                        <option>admin</option>
                    </select>
                </div>

              
                <br>
                <input type="submit" class="my-button" value="Registrar">
            </form>

        </div>
      
    </div>
</div>