<div class="nav-container">
    <nav class="navbar">
        <ul class="menu">
            {{#if login}}
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/api/sessions/logout">Logout</a>
                </li>
                <li>
                    <a href="/chat">Chat</a>
                </li>
                
                <div class="divCanasta">
                     <a class="getCart" id="getCart" href="/api/cart/{{user.last_name}}">🧺<span id="cantCart" class="cant-cart"></a></span>
                </div>


            {{else}}
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/register">Register</a>
                </li>

            {{/if}}
        </ul>
    </nav>
</div>