<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap css-->
      <!--<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">     --> 
      <!--Toastify css-->
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
      <!--sweetAlert css-->
      {{!-- link rel="stylesheet" href="sweetalert2.min.css"> --}}
      <!--css principal-->
      <link rel="stylesheet" href="css/{{estilo}}.css">
      <title>Entreamasados|BAKERY|online</title>
</head>
<body>
    {{{body}}}
    
    <!--*********INICIO DE SCRIPTS********-->
    <!--Bootstrap js-->
     <!--<script src="libs/bootstrap/js/bootstrap.bundle.min.js"></script>    -->
    <!--Toastify js-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!--sweetAlert js-->
    {{!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> --}}
    <!--script principal-->
    {{!-- <script type="text/javascript" src="/src/public/js/home.js"></script>  --}}
    {{!-- <!--carrito.js externo-->
    <script type="text/javascript" src="js/Cart.js"></script>
    <!--pagar.js externo-->
    <script type="text/javascript" src="js/Pay.js"></script>   --}}

    <!--*********FIN DE SCRIPTS**********-->
</body>
</html>